<div class="page-content container">
    <div class="wrapper">
        <div class="row align-items-center">
            <div class="col-md-9 col-7">
                <div class="page-header">
                    <h3>Banner List </h3>
                </div>
            </div>
            <div class="col-md-3 col-5">
                <div class="page_header_btn">
                    <a class="btn btn-primary dropdown-toggle" routerLink="/admin/add/banner">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                </div>
            </div>
            <div class="whitebox mt-3">
                
            </div>
        </div>
    </div>
</div>