<!-- Page Wrapper -->
<div id="wrapper">
    <app-sidebar></app-sidebar>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <admin-header></admin-header>
            <router-outlet></router-outlet>
        </div>
        <admin-footer></admin-footer>
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<div id="backto-top"><i class="fa-solid fa-arrow-up"></i></div>