<div class="intro-bg">
    <div class="auth-container">
        <div class="card">

            <div class="auth-content">
                <div class="auth-header">
                    <img src="admin/images/login_logo.webp" alt="" class="img-fluid">
                </div>
                <h5>Hello! let's get started</h5>
                <p>Login to continue.</p>

                <form #form="ngForm" class="formular">
                    <div class="mb-3">
                        <!-- <label for="username" class="form-label">Username</label> -->
                        <input type="text" class="form-control" placeholder="Username" name="email" required
                            #email="ngModel" [(ngModel)]="loginObj.email">
                        <div class="text-danger">
                            @if(email.errors?.['required'] && email.touched) {
                            <span>This is required</span>
                            }
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group">
                            <!-- <label for="password" class="form-label">Password</label> -->
                            <input [type]="showPassword ? 'text' : 'password'" class="form-control"
                                placeholder="Password" name="password" required #password="ngModel"
                                [(ngModel)]="loginObj.password">
                            <button type="button" (click)="togglePassword()" class="btn btn-sm end-0 me-2"
                                style="background: none; border: none;">
                                <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                            </button>
                        </div>
                        <div class="text-danger">
                            @if(password.errors?.['required'] && password.touched) {
                            <span>This is required</span>
                            }
                        </div>
                    </div>
                    <div class="mb-3 form-check">
                        <input class="form-check-input" id="remember" type="checkbox">
                        <label for="remember">Remember me</label>
                        <a href="#" class="forgot-btn float-end">Forgot password?</a>
                    </div>
                    <div class="mb-3 text-center">
                        <button type="button" class="btn btn-block btn-primary" [disabled]="form.invalid"
                            (click)="onLogin()">Login</button>
                    </div>

                    <div class="mb-3 text-center">
                        Need an Account? <a href="">Sign Up</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>