<div class="floating_button d-none d-sm-block"><a href="#"><i class="fa-solid fa-envelope"></i></a></div>
<!-- topbar -->
<div class="topbar d-none d-sm-block">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-5 order-md-1 order-2 position_left">
                <ul class="topbar_left">
                    <li class="d-xl-block d-xl-none"><a class="btn-info" data-bs-toggle="modal" role="button"
                            href="#getStartedModal">GET QUOTE</a></li>
                </ul>
            </div>
            <div class="col-md-7 col-7 order-md-2 order-1 position_right">
                <ul class="topbar_right">
                    <li><a href="https://www.busfam.com/internship-program/" target="_blank"><i
                                class="fa-solid fa-graduation-cap"></i> <span>Internship
                                Program</span></a></li>

                    <li><a href="mailto:info@busfam.com"><i class="fa-solid fa-envelope"></i>
                            <span>info&#64;busfam.com</span></a></li>

                    <li><a href="tel:+919007014444"><i class="fas-sharp fa-solid fa-phone"></i> <span>+91
                                9007014444</span></a></li>

                    <li><a href="https://wa.me/919007014444" target="_blank"><i class="fa-brands fa-whatsapp"></i>
                            <span>+91
                                9007014444</span></a></li>

                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /topbar -->

<header class="menumain" id="fixed-top">
    <div class="menu-bar">
        <div class="container-fluid">
            <nav class="navbar row">
                <div class="logo-main col-4 col-lg-2">
                    <span class="custom-logo-link">
                        <a href="#">
                            <img *ngIf="logo" [src]="logo" alt="Site Logo"/>
                        </a>
                    </span>
                </div>
                <div class="col-8 col-lg-10 text-end">
                    <div class="menu">
                        <div class="stellarnav mainmenu">
                            <ul>
                                <li><a href="#">HOME</a></li>
                                <li><a href="#">ABOUT US</a>
                                    <ul>
                                        <li><a href="#">OUR STORY</a></li>
                                        <li><a href="#">MARKETING PORTFOLIO</a></li>
                                        <li><a href="#">TESTIMONIALS</a></li>
                                        <li><a href="#">GALLERY</a>
                                            <ul class="submenu">
                                                <li><a href="#">PHOTO</a></li>
                                                <li><a href="#">VIDEO</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="javascript:void(0);">CASE STUDY</a>
                                    <ul>
                                        <li><a href="#">EDUCATIONAL INSTITUTION</a>
                                        </li>
                                        <li><a href="#">GERIATRIC CARE</a></li>
                                        <li><a href="#">SPORTS CLUB</a></li>
                                        <li><a href="#">FINE DINE RESTAURANT</a></li>
                                        <li><a href="#">HEALTH AND HYGIENE</a></li>
                                        <li><a href="#">REAL ESTATE</a></li>
                                    </ul>
                                </li>
                                <li class="mega" data-column="4"><a href="">SERVICES</a>
                                    <ul>
                                        <li>
                                            <a href="#"><span><img
                                                        [src]="webDesign"
                                                        alt="web-design.png"></span><strong>Website
                                                    <br>Development</strong></a>
                                            <div class="clearfix"></div>
                                            <ul>
                                                <li><a href="#"
                                                        class="hash"><i class="fa fa-angle-right"
                                                            aria-hidden="true"></i>
                                                        E-COMMERCE WEBSITE
                                                        DEVELOPMENT</a></li>
                                                <li><a href="#"
                                                        class="hash"><i class="fa fa-angle-right"
                                                            aria-hidden="true"></i>
                                                        SMALL BUSINESS WEBSITE</a>
                                                </li>
                                                <li><a href="#"
                                                        class="hash"><i class="fa fa-angle-right"
                                                            aria-hidden="true"></i>
                                                        CORPORATE WEBSITE
                                                        DEVELOPMENT</a></li>
                                                <li><a href="#"
                                                        class="hash"><i class="fa fa-angle-right"
                                                            aria-hidden="true"></i>
                                                        WHICH INDUSTRIES DO WE WORK
                                                        FOR?</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#"><span><img
                                                        [src]="creative"
                                                        alt="creative.png"></span><strong>Creative <br> Designing
                                                    Services</strong></a>
                                            <div class="clearfix"></div>
                                            <ul>
                                                <li><a
                                                        href="#"><i
                                                            class="fa fa-angle-right" aria-hidden="true"></i>
                                                        WEBSITE DESIGN</a></li>
                                                <li><a
                                                        href="#"><i
                                                            class="fa fa-angle-right" aria-hidden="true"></i>
                                                        GRAPHIC DESIGN</a></li>
                                                <li><a href="#"><i
                                                            class="fa fa-angle-right" aria-hidden="true"></i>
                                                        DIGITAL CREATIVES</a></li>
                                                <li><a href="#"><i
                                                            class="fa fa-angle-right" aria-hidden="true"></i>
                                                        OFFLINE CREATIVES</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#"><span><img
                                                        src="{{digitatMedia}}"
                                                        alt="digital-media.png"></span><strong> 360° Digital
                                                    <br>Marketing</strong></a>
                                            <div class="clearfix"></div>
                                            <ul>
                                                <li><a href="#"><i
                                                            class="fa fa-angle-right" aria-hidden="true"></i>SEO &
                                                        ORM</a></li>
                                                <li><a href="#"><i
                                                            class="fa fa-angle-right"
                                                            aria-hidden="true"></i>GOOGLE ADS</a></li>
                                                <li><a
                                                        href="#"><i
                                                            class="fa fa-angle-right"
                                                            aria-hidden="true"></i>SOCIAL MEDIA MARKETING</a></li>
                                                <li><a
                                                        href="#"><i
                                                            class="fa fa-angle-right"
                                                            aria-hidden="true"></i>CONTENT WRITING</a></li>
                                                <li><a
                                                        href="#"><i
                                                            class="fa fa-angle-right" aria-hidden="true"></i>EMAIL
                                                        MARKETING</a></li>
                                                <li><a href="#"><i
                                                            class="fa fa-angle-right" aria-hidden="true"></i>APP
                                                        STORE OPTIMIZATION</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#"><span><img
                                                        src="{{brand}}"
                                                        alt="brand.png"></span><strong> Branding
                                                    <br>Solutions</strong></a>
                                            <div class="clearfix"></div>
                                            <ul>
                                                <li><a href="#"
                                                        class="hash"><i class="fa fa-angle-right"
                                                            aria-hidden="true"></i>ONLINE BRANDING</a></li>
                                                <li><a href="#"
                                                        class="hash"><i class="fa fa-angle-right"
                                                            aria-hidden="true"></i>
                                                        OFFLINE BRANDING</a></li>

                                                <li><a href="#"><i
                                                            class="fa fa-angle-right" aria-hidden="true"></i>
                                                        <span style="font-size:14px;color:#18beb4;">360°
                                                            E-COMMERCE
                                                            SOLUTION</span></a></li>
                                                <li><a href="#"><i
                                                            class="fa fa-angle-right" aria-hidden="true"></i>
                                                        <span style="font-size:14px;color:#18beb4;">APP
                                                            DEVELOPMENT</span></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#">CAREER</a></li>
                                <li><a href="#">BLOG</a></li>
                                <li><a href="#">CONTACT US</a></li>
                                <li><a href="https://www.busfam.com/price/">PRICE</a></li>
                                <li><a class="btn btn-info d-none d-xl-block" data-bs-toggle="modal"
                                        role="button" href="#getStartedModal">Get Quote</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </nav>
        </div>
    </div>
</header>