<footer>
    <div class="container p-0">
        <div class="row g-0">
            <div class="col-lg-5 col-md-12">
                <div class="footer_about card h-100" *ngIf="data">
                    <h3>About Us</h3>
                    <div [innerHTML]="aboutUsContent"></div>
                    <div *ngIf="data?.social">
                        <div class="social_icons">
                            <a *ngFor="let name of data.social.social_name; let i = index" target="_blank"
                                [href]="data.social.social_url[i] || ''">
                                <i [class]="data.social.social_class[i] || ''"
                                    [attr.style]="'color: ' + data.social.social_color[i] + ' !important;'"
                                    [title]="name"></i>
                            </a>
                        </div>
                    </div>
                    <br>
                    <div [innerHTML]="academyBusfam"></div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="footer_contact card h-100">
                    <h3>Contact</h3>
                    <ul>
                        @for (address of data?.address; track $index) {
                        <li>
                            <i class="fas-sharp fa-solid fa-location-dot"></i>
                            <div [innerHTML]="address"></div>
                        </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="useful_col card h-100">
                    <h3>Useful Links</h3>
                    <div class="quick_links">
                        <a href="">FAQ</a>
                        <a href="">Clientele</a>
                        <a href="" style="color:#18beb4">Log In</a>
                    </div>
                    <div class="review_section">
                        <i class="fa-solid fa-caret-right"></i>
                        <strong> Read Reviews to Know Us More</strong>
                        <ul>
                            <li *ngFor="let reviews of data?.review_image; let i = index">
                                <a [href]="data?.review.review_link[i]" target="_blank">
                                    <img [src]="reviews" alt="" class="img-fluid">
                                </a>
                            </li>
                        </ul>
                        <div id="razorpay-button-container"></div>
                    </div>
                    <div class="award_section">
                        <i class="fa-solid fa-caret-right"></i>
                        <strong> Awards & Press Release</strong>
                        <ul>
                            <li>
                                <a href="images/startupindia-certificate.webp" data-fancybox="image">
                                    <img src="images/recognized_by.png" alt="" class="img-fluid">
                                </a>
                            </li>
                            <li>
                                <a href="images/MSME.webp" data-fancybox="image">
                                    <img src="images/udyam_certificate.png" alt="" class="img-fluid">
                                </a>
                            </li>
                            <li>
                                <a href="https://partnersdirectory.withgoogle.com/partners/5997565651" target="_blank">
                                    <img src="images/google-partner.png" alt="" class="img-fluid">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer_contact_bottom">
            <div class="footer_contact h-100 mt-4">
                <div class="row">
                    <div class="col-lg-3 col-md-6 footer_contact_bottom_border">
                        <strong>Call Us:</strong>
                        <li>
                            <div class="foot_icon"><i class="fa-solid fa-phone"></i></div>
                            <div class="foot_item">
                                <a href="tel:{{data?.phone[0]}}">{{data?.phone[0]}}</a>
                                <a href="tel:{{data?.phone[1]}}">{{data?.phone[1]}}</a>
                            </div>
                        </li>
                    </div>
                    <div class="col-lg-3 col-md-6 footer_contact_bottom_border">
                        <strong>Whatsapp Us:</strong>
                        <li>
                            <div class="foot_icon"><i class="fa-brands fa-whatsapp"></i></div>
                            <div class="foot_item">
                                <a *ngFor="let number of data?.whatsapp"
                                    [href]="'https://api.whatsapp.com/send?phone=919007014444'">
                                    {{ number }}
                                </a>
                            </div>
                        </li>
                    </div>
                    <div class="col-lg-3 col-md-6 footer_contact_bottom_border">
                        <strong>Email Us:</strong>
                        <li>
                            <div class="foot_icon"><i class="fa-solid fa-envelope"></i></div>
                            <div class="foot_item">
                                <ng-container *ngFor="let email of data?.email">
                                    <a [href]="'mailto:' + email"> {{ email }}</a>
                                </ng-container>
                            </div>
                        </li>
                    </div>
                    <div class="col-lg-3 col-md-6 footer_contact_bottom_border">
                        <strong>Career:</strong>
                        <li>
                            <div class="foot_icon"><i class="fa-solid fa-bullseye"></i></div>
                            <div class="foot_item">
                                <ul class="d-flex">
                                    <li>
                                        <i class="fa-solid fa-envelope"></i>
                                        <a href="mailto:hr@busfam.com">hr&#64;busfam.com</a>
                                    </li>

                                    <li>
                                        <i class="fa-solid fa-phone"></i>
                                        <a href="tel:8100964492">91+ 81009 64492</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="row">
                <div class="col-lg-6">
                    <ul>
                        <li><a href="#">Privacy Policy |</a></li>
                        <li><a href="#"> Terms & Conditions |</a></li>
                        <li><a href="#"> Refund or Cancellation</a></li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <div class="copy_script">
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear())
                            </script> <a href="#"><span style="color: #18beb4;">BUSFAM</span></a>. All
                            Rights Reserved.
                        </p>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="d-block d-sm-none foot_end_btn">
        <ul>
            <li>
                <a href="https://www.busfam.com/contact-us">
                    Get Quote <i class="fa-solid fa-paper-plane fa-beat"></i>
                </a>
            </li>
            <li>
                <a href="tel:+919007014444"><i class="fa-solid fa-phone fa-beat pe-1"></i> Call Now </a>
            </li>
        </ul>
    </div>
</footer>