<!--start  Sidebar for desktop and tablet mobile-->
<ul class="navbar-nav sidebar sidebar-dark accordion desktop-sidebar" id="accordionSidebar">

    <a class="sidebar-brand d-flex align-items-center justify-content-sm-start" href="index.php">
        <div class="sidebar-brand-icon rotate-n-15">
            <!-- <i class="fas fa-laugh-wink"></i> -->
            <img src="img/logo-icon.webp" alt="" class="img-fluid">
        </div>
        <div class="sidebar-brand-text mx-2">BUSFAM</div>
    </a>

    <div class="toggle_button d-md-inline" id="toggle_button_sidebar">
        <button id="sidebarToggle" class="" type="button">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>

    <!-- links for desktop -->
    <div class="desktop_sidebar_links">
        <li class="nav-item active">
            <a class="nav-link" href="index.php">
                <i class="fa-solid fa-house"></i>
                <span>Dashboard</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="media-list.php">
                <i class="fa-regular fa-circle-play"></i>
                <span>Media</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="item-list.php" data-bs-toggle="collapse" data-bs-target="#c1"
                aria-expanded="false" aria-controls="c1">
                <i class="fa-solid fa-user-gear"></i>
                <span>Item Manager</span>
            </a>
            <ul id="c1" class="collapse collapse-inner rounded" aria-labelledby="headingUtilities"
                data-bs-parent="#accordionSidebar">

                <li class="collapse-item">
                    <div class="subhead">Item Manager</div>
                </li>

                <li class="collapse-item">
                    <a href="item-list.php"><i class="fa-regular fa-circle-play"></i> All List</a>
                </li>

                <li class="collapse-item">
                    <a href="item-editor.php"><i class="fa-regular fa-circle-play"></i> Add New</a>
                </li>

                <li class="collapse-item">
                    <a href="category.php"><i class="fa-regular fa-circle-play"></i> Categories</a>
                </li>

            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#c2" aria-expanded="false"
                aria-controls="c2">
                <i class="fa-solid fa-user-gear"></i>
                <span>List Manager</span>
            </a>
            <ul id="c2" class="collapse collapse-inner rounded" aria-labelledby="headingUtilities"
                data-bs-parent="#accordionSidebar">

                <li class="collapse-item">
                    <div class="subhead">Item Manager</div>
                </li>

                <li class="collapse-item">
                    <a href="item-list2.php"><i class="fa-regular fa-circle-play"></i> All List</a>
                </li>

                <li class="collapse-item">
                    <a href="item-editor2.php"><i class="fa-regular fa-circle-play"></i> Add New</a>
                </li>

                <li class="collapse-item">
                    <a href="category2.php"><i class="fa-regular fa-circle-play"></i> Categories</a>
                </li>

            </ul>
        </li>


        <li class="nav-item">
            <a class="nav-link" href="setting.php">
                <i class="fa-solid fa-gear"></i>
                <span>Settings</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="business_graph.php">
                <i class="fa-solid fa-chart-pie"></i>
                <span>Business Graph</span></a>
        </li>
    </div>
    <!-- links for desktop -->

    <!-- links for mobiles -->
    <div class="mobile_sidebar_links">
        <li class="nav-item active">
            <a class="nav-link" href="index.php">
                <i class="fa-solid fa-house"></i>
                <span>Dashboard</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="media-list.php">
                <i class="fa-regular fa-circle-play"></i>
                <span>Media</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="item-list.php">
                <i class="fa-solid fa-user-gear"></i>
                <span>Item Manager</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="item-list2.php">
                <i class="fa-solid fa-user-gear"></i>
                <span>List Manager</span>
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link" href="setting.php">
                <i class="fa-solid fa-gear"></i>
                <span>Settings</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="business_graph.php">
                <i class="fa-solid fa-chart-pie"></i>
                <span>Business Graph</span></a>
        </li>
    </div>
    <!-- links for mobiles -->

    <div class="text-center d-none d-md-inline mt-4">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>

<!-- End Sidebar for desktop and tablet mobile-->
